
.accordion-container {
  border: 1px solid #1E88E5;
  border-radius: 10px;
}

.accordion-head {
  background-color: #1E88E5;
  border-radius: 10px 10px 0px 0px;
  min-height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 500;
  line-height: 30px;
}
.accordion-icon-style {
  float: right;
  color: white;
  vertical-align: middle;
}

.accordion-title-style {
  font-size: 20px;
  font-weight: 500;
  color: white;

}

.accordion-body {
  padding: 10px;
}